<div class="wrapper add-color">
  <div class="container default-container">
    <h1 class="text-white text-center">プロフィールを作成する</h1>
    <%= render partial: 'profiles/form' ,locals: { profile: @profile } %>
  </div>
</div>
