<div class="wrapper text-center add-color">
  <div class="container default-container">
    <h1 class="text-white">プライバシーポリシー</h1>
      <div class="text-left">
      <h2>私たちについて</h2>
        <p>私たちのサイトアドレスは https://secure-stream-58531.herokuapp.com/ です。</p>
        <p>運営者は ”七役　一光” です。</p>
      <h2>このサイトが収集する個人データと収集の理由</h2>
        <p>
          当サービスでは、メールでのお問い合わせなどの際に、名前（ハンドルネーム）、メールアドレス等の個人情報をご登録いただく場合がございます。
          これらの個人情報は質問に対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、個人情報をご提供いただく際の目的以外では利用いたしません。
        </p>
      <h2>コメント</h2>
        <p>
          訪問者がこのサイトにコメントを残す際、コメントフォームに表示されているデータ、そしてスパム検出に役立てるための IP アドレスとブラウザーユーザーエージェント文字列を収集します。
          メールアドレスから作成される匿名化された (「ハッシュ」とも呼ばれる) 文字列は、あなたが Gravatar サービスを使用中かどうか確認するため同サービスに提供されることがあります。同サービスのプライバシーポリシーは https://automattic.com/privacy/ にあります。コメントが承認されると、プロフィール画像がコメントとともに一般公開されます。
        </p>
      <h2>メディア</h2>
        <p>サイトに画像をアップロードする際、位置情報 (EXIF GPS) を含む画像をアップロードするべきではありません。サイトの訪問者は、サイトから画像をダウンロードして位置データを抽出することができます。</p>
      <h2>お問い合わせフォーム</h2>
        <p>当サイトではお問い合わせフォーム（https://nanayaku.com/contact/）を設置しております。訪問者がそのお問い合わせフォームから問い合わせをされた際に入力された、以下の個人情報を取得します。個人情報はマーケティング目的には使用しません。</p>
        <p>お問い合わせフォームに入力された名前</p>
        <p>お問い合わせフォームに入力されたメールアドレス</p>
        <p>お問い合わせフォームに入力されたお問合せ内容</p>
      <h2>Cookie</h2>
        <p>
          サイトにコメントを残す際、お名前、メールアドレス、サイトを Cookie に保存することにオプトインできます。これはあなたの便宜のためであり、他のコメントを残す際に詳細情報を再入力する手間を省きます。この Cookie は1年間保持されます。
          ログインページを訪問すると、お使いのブラウザーが Cookie を受け入れられるかを判断するために一時 Cookie を設定します。この Cookie は個人データを含んでおらず、ブラウザーを閉じると廃棄されます。
          ログインの際さらに、ログイン情報と画面表示情報を保持するため、私たちはいくつかの Cookie を設定します。ログイン Cookie は2日間、画面表示オプション Cookie は1年間保持されます。「ログイン状態を保存する」を選択した場合、ログイン情報は2週間維持されます。ログアウトするとログイン Cookie は消去されます。
          もし投稿を編集または公開すると、さらなる Cookie がブラウザーに保存されます。この Cookie は個人データを含まず、単に変更した投稿の ID を示すものです。1日で有効期限が切れます。
        </p>
      <h2>他サイトからの埋め込みコンテンツ</h2>
        <p>
          このサイトの投稿には埋め込みコンテンツ (動画、画像、投稿など) が含まれます。他サイトからの埋め込みコンテンツは、訪問者がそのサイトを訪れた場合とまったく同じように振る舞います。
          これらのサイトは、あなたのデータの収集、Cookieの使用、サードパーティによる追加トラッキングの埋め込み、埋め込みコンテンツとのやりとりの監視を行うことがあります。アカウントを使ってそのサイトにログイン中の場合、埋め込みコンテンツとのやりとりのトラッキングも含まれます。
        </p>
      <h2>アナリティクス</h2>
        <p>
          当サイトではサイトの利用状況を把握するため、またサイト品質向上のためにGoogleによるアクセス解析ツール「Googleアナリティクス」を利用しております。このアクセス解析ツールはトラフィックデータ収集のためCookieを使用しています。このデータは個人データではなく非個人データです。また、Cookieにより収集した情報は広告をより効果的に作ったり、ユーザーエクスペリエンスを向上させたりとサービス改善のために利用されています。
          取得したデータをどのように扱い、どのような形でプライバシーを保護するというのかについてはGoogleポリシー基づいて管理されます。詳しくは「ブラウザによって送信された情報の Google での利用について | Googleポリシーと規約」に記載されている内容からご覧いただけます。
        </p>
      <h2>あなたのデータの共有先</h2>
        <p>
          当サイトは、皆さまのご承諾がない限り収集した個人データを第三者に提供いたしません。当サイト以外の企業/団体から皆さまに有益と思われる情報のお届けを代行する場合にも、皆さまのご承諾がない限り個人データはそうした企業/団体には開示・提供いたしません。
          ただし、皆さまが当サイト経由で当サイト以外の企業/団体に対して情報提供、サービス提供、商品の注文、応募、接触、仲介をご依頼いただいた場合や、それらの企業/団体が関係する展示会/セミナーの申し込みをされた場合、また広告掲載会社などへの資料請求の仲介を弊社に依頼された場合などには、当該企業/団体に個人データを開示・提供することがあります。
        </p>
        <p>
          商品や有料サービスの料金を決済する場合に、金融機関などとの間で個人データを交換することがあります。金融機関の口座番号の正当性やクレジットカードの有効性を確認するためです。また、法律に基づき開示しなければならない場合や、当サイトと皆さまの権利/財産/安全などを保護/防御するために必要であると合理的に判断できる場合には、個人データを開示することがあります
        </p>
      <h2>データを保存する期間</h2>
        <p>
          あなたがコメントを残すと、コメントとそのメタデータが無期限に保持されます。これは、モデレーションキューにコメントを保持しておく代わりに、フォローアップのコメントを自動的に認識し承認できるようにするためです。
          このサイトに登録したユーザーがいる場合、その方がユーザープロフィールページで提供した個人情報を保存します。すべてのユーザーは自分の個人情報を表示、編集、削除することができます (ただしユーザー名は変更することができません)。サイト管理者もそれらの情報を表示、編集できます。
        </p>
      <h2>データに対するあなたの権利</h2>
        <p>このサイトのアカウントを持っているか、サイトにコメントを残したことがある場合、私たちが保持するあなたについての個人データ (提供したすべてのデータを含む) をエクスポートファイルとして受け取るリクエストを行うことができます。また、個人データの消去リクエストを行うこともできます。これには、管理、法律、セキュリティ目的のために保持する義務があるデータは含まれません。</p>
      <h2>あなたのデータの送信先</h2>
        <p>訪問者によるコメントは、自動スパム検出サービスを通じて確認を行う場合があります。</p>
      <h2>あなたの連絡先情報</h2>
        <p>sabanomisoni789@gmail.com</p>
      <h2>免責事項</h2>
        <p>
          当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直接メールでご連絡下さい。確認後、対応させて頂きます。
          当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
          当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。
          当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
        </p>
      </div>
    </div>
  </div>
</div>