<div class="wrapper text-center add-color">
  <div class="container default-container">
    <h1 class="text-white">パラリンク</h1>
    <h2 class="text-white">「パラリンク」は​障害者・介護者・親族が<br>繋がる事ができるサービスです</h2>
    <div class="row">
      <%= render partial: 'homes/menu' %>
    </div>
  </div>
</div>
