<% @micropost.topics.each do |topic| %>
  <%= image_tag topic.image.url , alt:'topic.description',class: "img-responsive center-block"%>
  <p class="text-right">
    <%= link_to "画像を削除", micropost_topic_path(@micropost.id, topic.id) , method: :delete, data: {confirm: "本当に削除しますか？"}, class: "delete-btn"%>
  </p>
<% end %>
