<div class="wrapper add-color">
  <div class="container default-container">
    <h1 class="text-white text-center">新しい投稿</h1>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 form-conter">
        <%= form_for @micropost do |f| %>
        <div class="form-group">
          <%= f.label :content, '投稿内容' %>
          <%= f.text_area :content, placeholder: "最大200文字です", class: 'form-control' %>
        </div>
        <%= f.submit '投稿する', class: 'btn-block btn-white vertical-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
