body {
  color: #fff;
  background-image: url(rope-1468951_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding-bottom: 30px;
}

.default-container {
  padding-top: 70px;
  padding-bottom: 30px;
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.mypage-container {
  padding-top: 70px;
  padding-bottom: 30px;
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.add-color {
  background-color: rgba(0, 0, 0, 0.3);
}

.alert {
  margin-top: 50px;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.form-conter {
  border: 2px solid #0FF;
  padding: 10px;
}

.form-group {
  margin: 30px 0;
  font-size: 20px;
}

.text-brack {
  color: #000;
}

.erb-text {
  word-break: normal;
  width: 600px;
}

/* btn*/
.vertical-btn {
  margin: 15px 0;
}

.side-btn {
  margin: 0 10px;
}

.btn-white {
  color: #fff;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    color: #fff;
    box-shadow: 0 0 15px 5px #0ff;
  }
}

.user-show-following {
  color: #fff;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    color: #000;
    background-color: #FF9;
  }
}

.user-show-follow {
  color: #fff;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    color: #000;
    background-color: #9FF;
  }
}

.btn-following {
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    color: #000;
    background-color: #FF9;
  }
}

.btn-follow {
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    color: #000;
    background-color: #9FF;
  }
}

.btn-comment {
  margin-right: 20px;
  margin-bottom: 10px;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    color: #fff;
    box-shadow: 0 0 15px 5px #0ff;
  }
}

.delete-btn {
  margin-bottom: 10px;
  color: #ff0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  &:hover {
    color: #f00;
    background-color: #ff0;
    text-decoration: none;
    text-align: center;
  }
}

/* application*/
.logo {
  margin-left: 10px;
  font-size: 1.7em;
  color: #f99;
  text-transform: capitalize;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/*session*/
.to-login {
  color: #fff;
  &:hover {
    color: #ff0;
    text-decoration: none;
  }
}

/*user*/


/*micropost*/
.micropost-conteiner {
  border: 2px solid #fff;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.micropost-user-name {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.micropost-content {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #fff;
}

.micropost-show {
  margin-top: 100px;
}

.img-responsive {
  margin-bottom: 10px;
}

.far {
  color: #fff;
}

.fa {
  color :#f00;
}

.fa-heart {
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa-trash {
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ff0;
  &:hover {
    color: #f00;
  }
}

.comment-count {
  padding: 10px 0;
}

.comment-text {
  padding-left: 20px;
  background-color: #000;
}

.user-profile {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.bgred {
	border: 1px solid #dddddd;
	margin: 20px 0;
	padding: 20px;
}

.comment-box {
  padding-top: 30px;
}

.index-image {
  margin-top: 5px;
  margin-bottom: 5px;
}

.index-user-name {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.default-image {
  width: 200px;
  height: 200px;
}
