body {
  color: #fff;
  background-image: url(rope-1468951_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-white {
  color: #fff;
  border: 2px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px 0;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    color: #fff;
    box-shadow: 0 0 15px 5px #0ff;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/* header*/
.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #f99;
  text-transform: capitalize;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/*top*/
.top-hero-container {
  padding-top: 70px;
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 60px;
  }
}

/*sign up*/
.users-new-container {
  padding-top: 70px;
}

.form-group {
  margin: 30px 0;
}

.user-new {
  color: #fff;
  &:hover {
    color: #ff0;
    text-decoration: none;
  }
}
